.listing__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.list__word {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 4px 8px;
  background-color: var(--c-white);
  border-radius: 4px;
  box-shadow: 0 0 8px var(--c-gray-ds);
}
