
.main__game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.game__panel {
  width: 20rem;
  height: 20rem;
  border-radius: 4px;
  background-color: var(--c-white);
  box-shadow: 0 0 8px var(--c-gray-ds);
}

.game__attempts {
  padding: 8px 16px;
  background-color: var(--c-gray-ds);
  max-width: 400px;
  font-size: 20px;
  min-height: calc(8px + 2ch);
  min-width: 200px;
}

.game__word {
  text-align: center;
}

.word__letter {
  display: inline-block;
  text-align: center;
  width: 32px;
  height: 32px;
  border-bottom: 2px solid var(--c-black);
  margin-bottom: 8px;
}

.word__letter.active {
  border-bottom-color: var(--c-orange);
  background-color: var(--c-white);
  box-shadow: 2px 2px 8px var(--c-gray);
  transform: scale(1.1);
}

.word__letter + .word__letter {
  margin-left: 8px;
}

.word__letter--blank::after {
  content: "\a";
  white-space: pre;
}


.game__keyboard {
  text-align: center;
  width: calc(100vw - 16px);
}

.keyboard__key {
  padding: 0;
  background-color: var(--c-black-ls);
  border: none;
  border-radius: 4px;
  color: var(--c-white-d);
  font-size: 18px;
  width: 28px;
  height: 36px;
  margin-block: 4px;
}

.keyboard__key + .keyboard__key {
  margin-left: 4px;
}
