.main__game {
  display: grid;
  place-items: center;
  gap: 1.5rem;
  grid-template-areas: "tip" "game" "attempts" "letters" "keyboard";
}

.game__tip {
  font-size: 20px;
  grid-area: tip;
}

.game__panel {
  width: 20rem;
  height: 20rem;
  border-radius: 4px;
  background-color: var(--c-white);
  box-shadow: 0 0 8px var(--c-gray-ds);
  grid-area: game;
}

.game__attempts {
  padding: 8px 16px;
  background-color: var(--c-gray-ds);
  max-width: calc(100vw - 48px);
  font-size: 20px;
  height: 2.5rem;
  min-width: 200px;
  grid-area: attempts;
}

.game__word {
  text-align: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
  max-width: calc(100vw - 48px);
  grid-area: letters;
}

.word__letter {
  display: inline-block;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 8px;
  border-bottom: 2px solid var(--c-black);
}

.break {
  display: block;
  width: auto;
  flex-basis: 100%;
  height: 0;
}

.word__letter.active {
  border-bottom-color: var(--c-orange);
  background-color: var(--c-white);
  box-shadow: 2px 2px 8px var(--c-gray);
}

.game__keyboard {
  text-align: center;
  max-width: calc(100vw - 48px);
  grid-area: keyboard;
}

.keyboard__key {
  padding: 0;
  background-color: var(--c-black-ls);
  border: none;
  border-radius: 4px;
  color: var(--c-white-d);
  font-size: 1.125rem;
  width: 28px;
  height: 36px;
  margin-block: 4px;
}

.keyboard__key:hover,
.keyboard__key:focus {
  transform: scale(1.05);
  background-image: linear-gradient(to bottom, var(--c-black-ls), var(--c-smoke));
}

.keyboard__key:active {
  transform: scale(1);
}

.keyboard__key + .keyboard__key {
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .game__tip {
    font-size: 24px;
  }

  .word__letter {
    font-size: 1.25rem;
    width: 2.75rem;
    height: 2.75rem;
  }

  .keyboard__key {
    font-size: 1.25rem;
    width: 32px;
    height: 40px;
  }

  .keyboard__key + .keyboard__key {
    margin-left: 6px;
  }

  .game__keyboard {
    max-width: calc(100vw - 72px);
  }
}

@media screen and (min-width: 1024px) {
  .main__game {
    grid-template-areas:
      "tip tip"
      "game keyboard"
      "attempts keyboard"
      "letters  keyboard";
  }

  .game__word {
    max-width: 25.5rem;
  }
}
