@import url("./reset.css");
@import url("./game.css");
@import url("./editor.css");
@import url("./animations.css");

@font-face {
  font-family: "Tilt Neon";
  src: url("../public/fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf");
}

:root {
  --c-orange: hsl(8, 90%, 60%);
  --c-orange-d: hsl(8, 80%, 55%);
  --c-orange-ds: hsl(8, 70%, 50%);
  --c-black: hsl(247, 15%, 5%);
  --c-black-l: hsl(248, 15%, 10%);
  --c-black-ls: hsl(248, 15%, 15%);
  --c-smoke: hsl(248, 10%, 35%);
  --c-gray-ds: hsl(247, 10%, 60%);
  --c-gray-d: hsl(247, 10%, 70%);
  --c-gray: hsl(247, 10%, 80%);
  --c-white-d: hsl(0, 0%, 90%);
  --c-white: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  color: inherit;
  font-family: inherit;
}

input:focus,
button:focus,
a:focus {
  outline: none;
}

body {
  display: grid;
  font-family: "Tilt Neon";
  background-color: var(--c-white-d);
  font-size: 1.125rem;
  line-height: 1.2;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.footer {
  align-self: flex-end;
  background-color: var(--c-black);
  color: var(--c-white-d);
  font-size: 20px;
  text-align: center;
  padding: 48px 24px;
}

.main {
  display: grid;
  place-items: center;
  padding-block: 48px;
}

.main__menu {
  align-self: flex-start;
}

.main__title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 48px;
  color: var(--c-orange);
  text-shadow: 4px 2px black;
}

.menu__title {
  font-size: 1.5rem;
  margin-bottom: 24px;
  text-align: center;
}

.main__editor:not(.hidden) {
  display: grid;
  gap: 4rem;
}

.main__popup {
  position: fixed;
  z-index: 100;
  border: 2px solid var(--c-gray-ds);
  background-image: linear-gradient(
    to bottom,
    var(--c-white),
    var(--c-white-d)
  );
  border-radius: 4px;
  padding: 8px 16px;
  width: calc(100vw - 48px);
  text-align: center;
  top: 16px;
}

:where([class*="__options"]) {
  display: grid;
  place-items: flex-start center;
  grid-template-columns: 1fr;
  gap: 1rem;
}

:where([class*="options__"]) {
  width: 12.5rem;
  font-size: 1.125rem;
  border: none;
  background-color: var(--c-orange);
  border-radius: 4px;
  padding: 8px 16px;
}

:where([class*="options__"]:hover),
:where([class*="options__"]:focus),
.form__submit:hover {
  transform: scale(1.05);
  background-image: linear-gradient(
    to bottom,
    var(--c-orange),
    var(--c-orange-ds)
  );
}

:where([class*="options__"]:active),
.form__submit:active {
  transform: scale(1);
}

.desc__link {
  color: var(--c-orange);
  padding: 2px 4px;
  position: relative;
  isolation: isolate;
  z-index: 0;
}

i {
  pointer-events: none;
}

a {
  display: inline-block;
}

.desc__link:hover {
  text-decoration: none;
}

.desc__link:focus {
  color: var(--c-black);
}

.desc__link::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: -1;
}

.desc__link:focus::before {
  background-color: var(--c-orange);
  box-shadow: 4px 4px 0 var(--c-black-ls);
}

button {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .main {
    padding-block: 64px;
  }

  .main__title {
    font-size: 3.5rem;
  }

  :where([class*="__options"]) {
    margin-inline: auto;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: max-content;
  }

  .main__popup {
    width: calc(100vw - 72px);
  }
}

@media screen and (min-width: 1024px) {
  .main__popup {
    width: 50vw;
  }
}
