@import url("./reset.css");
@import url("./game.css");
@import url("./editor.css");
@import url("./animations.css");

@font-face {
  font-family: "Tilt Neon";
  src: url("../public/fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf");
}

:root {
  --c-orange: hsl(8, 90%, 60%);
  --c-orange-d: hsl(8, 80%, 55%);
  --c-orange-ds: hsl(8, 70%, 50%);
  --c-black: hsl(247, 15%, 5%);
  --c-black-l: hsl(248, 15%, 10%);
  --c-black-ls: hsl(248, 15%, 15%);
  --c-gray-ds: hsl(247, 10%, 60%);
  --c-gray-d: hsl(247, 10%, 70%);
  --c-gray: hsl(247, 10%, 80%);
  --c-white-d: hsl(0, 0%, 90%);
  --c-white: hsl(0, 0%, 95%);
}

* {
  color: inherit;
  font-family: inherit;
}

body {
  display: grid;
  font-family: "Tilt Neon";
  background-color: var(--c-white-d);
  font-size: 1.125rem;
  line-height: 1.2;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.footer {
  max-height: 156px;
  align-self: flex-end;
  background-color: var(--c-black);
  color: var(--c-white-d);
  font-size: 20px;
  text-align: center;
  padding: 48px 24px;
}

.main {
  display: grid;
  place-items: center;
  padding-block: 48px;
}

.main__menu {
  align-self: flex-start;
}

.main__title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 48px;
  color: var(--c-orange);
  text-shadow: 4px 2px black;
}

.menu__title {
  font-size: 1.5rem;
  margin-bottom: 24px;
  text-align: center;
}

.main__editor:not(.hidden) {
  display: grid;
  gap: 4rem;
}

.main__popup {
  position: fixed;
  z-index: 100;
  border: 2px solid var(--c-gray-ds);
  background-image: linear-gradient(to bottom, var(--c-white), var(--c-white-d));
  border-radius: 4px;
  padding: 8px 16px;
  width: calc(100vw - 48px);
  text-align: center;
  top: 16px;
}

:where([class*="__options"]) {
  display: grid;
  place-items: flex-start center;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.options__button {
  background-color: var(--c-orange);
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 1.125rem;
  flex: 1;
  width: 12.5rem;
}

.footer .desc__link {
  color: var(--c-orange);
}

i {
  pointer-events: none;
}
